<%= simple_form_for @workout do |f| %>
	
	<div class="form-group">
		<%= f.input :date, label: "Date : "   %> </br>
	</div>

	<div class="form-group">
		<%= f.input_field :workout, :placeholder => "Write WorkOut" %> </br>
	</div>

	<%= f.input :mood, label: "Mood : " %> </br>

	<%= f.input :length, label: "Length : " %> </br>

	<%= f.button :submit %> </br>
<% end %>