<h2><%= @workout.workout %></h2>
<%# workouts%>
<p>Date : <%= @workout.date %></p>

<p>WorkOut : <%= @workout.workout %> </p>

<p>Mood : <%= @workout.mood %></p>

<p>Length : <%= @workout.length %></p>

<h3>Exercises</h3>

<%= render @workout.exercises %>


<div class="test-font">
	<h3>Add an Exercise</h3>	
</div>



<%= render "exercises/form" %>

<%= link_to "Back", workouts_path %> | <%= link_to "Destroy", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>

